<section>
  <div class="text-home text-center">
    <h1 class="fs-1 fw-bolder my-4 text-dark">conatct section</h1>
  </div>
  <div class="after-before position-relative my-4 text-center text-light pb-3">
    <i class="fa-solid fa-star fs-4 text-black "></i>
  </div>

  <div class="row d-flex justify-content-center align-items-center mt-2 w-50 m-auto py-5">
    <div class="col-md-12 mt-4">
      <input type="text" id="user-name" placeholder="userName" class="form-control">
    </div>
    <div class="col-md-12 mt-4">
      <input type="number" id="user-name" placeholder="userAge" class="form-control" min="10" max="100">
    </div>
    <div class="col-md-12 mt-4">
      <input type="email" id="user-name" placeholder="Email" class="form-control">
    </div>
    <div class="col-md-12 mt-4">
      <input type="password" id="user-name" placeholder="Password" class="form-control">
    </div>
    <div class="button mt-4">
      <button class="btn btn-success">send message</button>
    </div>
  </div>

</section>