<section>
  <div class="title-portfolio">

    <div class="text-home text-center">
      <h1 class="fs-1 fw-bolder my-2 text-dark">portfolio component</h1>
    </div>

    <div class="after-before position-relative my-4 text-center text-light pb-3 ">

    </div>

  </div>
  <div class="product-portfolio">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-4 mt-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/poert1.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="w-100">
            <div class="overlayer position-absolute">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/poert1.png" alt="product" class="w-100">

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/port2.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal2"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/port2.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/port3.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal3"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/port3.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/poert1.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal4"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/poert1.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/port2.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal5"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/port2.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/port3.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal6"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/port3.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5 ">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/poert1.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal7"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/poert1.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/port2.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal8"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/port2.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <!-- imag trigger modal -->
          <div class="parent-product position-relative">
            <img src="/images/port3.png" alt="product" data-bs-toggle="modal" data-bs-target="#exampleModal9"
              class="w-100">
            <div class="overlayer position-absolute">

            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade distance" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <img src="/images/port3.png" alt="product" class="w-100">
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>